# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
.env
.venv
venv/
env/

# Conda
*.conda
*.condarc

# Data
*.npy
*.npz
*.mat
BN278_FC/
data/

# Models / outputs
*.pth
cripts"
outputs/
results/
logs/
result/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
